<% layout('layout/auth') -%>

<div class="container-fluid">
    <div class="row">
        <!--   sidebar -->
        <% include layout/sidebar %>
        <!--   main content  -->
        <div class="  col-lg-10 col-12 offset-lg-2  " style="margin-top: 70px;">
            <!--  create user _Sidebar start-->
                   <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                       <div class="offcanvas-header">
                           <h5 class="offcanvas-title" id="offcanvasRightLabel">New Product Create</h5>
                           <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                       </div>
                       <div class="offcanvas-body">
                           <form action="/admin/product" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                               <!-- Product image -->
                               <div class="form-floating mb-3">
                                   <div class="col-md-4 w-100">
                                       <label for="validationDefault01" class="form-label">product image</label>
                                       <input type="file"  class="form-control" name="image" id="validationDefault01" placeholder="product image" value=""  multiple required>
                                       <div class="invalid-feedback">
                                           Please enter a product image.
                                       </div>
                                   </div>
                               </div>
                               <!-- Product Name -->
                               <div class="form-floating mb-3 ">
                                   <div class="col-md-4 w-100 ">
                                       <label for="validationDefault02" class="form-label">product name</label>
                                       <input type="text"  class="form-control" name="name" id="validationDefault02" placeholder="product name" value="" required>
                                       <div class="invalid-feedback">
                                           Please enter a product name.
                                       </div>
                                   </div>
                               </div>
                               <!-- category -->
                               <div class="col-md-3 mb-3 w-100">
                                   <label for="validationCustom04" class="form-label">category</label>
                                   <select class="form-select w-50 " name="categoryid" id="validationCustom04" required>
                                           <option selected disabled value="">Choose...</option>
                                       <% category.forEach(cat => { %>
                                           <option value="<%= cat._id %>"><%= cat.name %></option>
                                       <% }) %>
                                   </select>
                                   <div class="invalid-feedback">
                                       Please select a valid category.
                                   </div>
                               </div>
                               <!-- Product Description -->
                               <div class="mb-3">
                                   <label for="validationTextarea" class="form-label">description</label>
                                   <textarea class="form-control" id="validationTextarea" name="description" placeholder="product description" required></textarea>
                                   <div class="invalid-feedback">
                                       Please enter a message in the description.
                                   </div>
                               </div>
                               <!-- Product Status -->
                               <div class="mb-3">
                                   <label class="form-label d-block">Status:</label>
                                   <div id="statusGroup" class="border-0 p-0">
                                       <!-- Radio buttons container -->
                                           <div class="form-check d-flex">
                                               <div class="me-5">
                                                   <input class="form-check-input" type="radio" name="status" id="active" value="active" required>
                                                   <label class="form-check-label" for="active">Active</label>
                                                   <div class="invalid-feedback">
                                                       Please select a status.
                                                   </div>
                                               </div>
                                               <div>
                                                   <input class="form-check-input" type="radio" name="status" id="inactive" value="inactive"  required>
                                                   <label class="form-check-label" for="inactive">Inactive</label>
                                               </div>
                                           </div>
                                   </div>
                               </div>
                               <!-- Submit Button -->
                               <button type="submit" class="btn btn-primary">Submit</button>
                           </form>
                       </div>
                   </div>
            <!--    All product details    -->
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="card" >
                        <div class="card-header d-flex justify-content-between ">
                            <h2>All products</h2>
                            <button class="btn btn-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-plus "></i> Create</button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive h-auto" >
                                <table class="table "  >
                                    <thead>
                                    <tr>
                                        <th>image</th>
                                        <th>name</th>
                                        <th>description</th>
                                        <th>status</th>
                                        <th>category</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody >
                                    <% if(items.length == 0) {%>
                                        <tr>
                                            <td colspan="4" class="text-center">No product found</td>
                                            <td colspan="4" class="text-center"></td>
                                        </tr>
                                    <% } %>
                                    <% items.forEach( element => { %>
                                        <tr  class="align-middle">
                                            <!-- image -->
                                            <td>
                                                 <div id="myCarousel" class="carousel slide " data-bs-ride="carousel" style="height: 40px; width: 100px">
                                                     <div class="carousel-inner">
                                                         <% element.image.forEach((img, index) => { %>
                                                             <div class="carousel-item <%= index === 0 ? 'active' : '' %>" style="height: 40px; width: 150px; object-fit: cover">
                                                                 <img src="/assets/images/<%= img %>" class="d-block w-100" alt="Image">
                                                             </div>
                                                         <% }) %>
                                                     </div>
                                                     <!-- Arrows -->
                                                     <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                                                         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                     </button>
                                                     <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                                                         <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                     </button>
                                                 </div>
                                            </td>
                                            <td ><%= element.name|| "-" %></td>
                                            <td><%= element.description || "-"%></td>
                                            <td ><button class="border border-0 px-2 fs-6 rounded-pill" style="background-color: rgba(0,128,0,0.3)"><%= element.status || "-" %></button></td>
                                            <td><%= element.category.name || '-'%></td>
                                            <!-- view/Edit/Delete -->
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-light " data-bs-toggle="dropdown" aria-expanded="true">
                                                        <i class="bi bi-three-dots-vertical"></i>
                                                    </button>
                                                    <ul class="dropdown-menu  text-center " >
                                                        <li >
                                                            <a class="dropdown-item " href="/admin/product/view/<%= element.id %>">
                                                                <i class="bi bi-eye me-2"></i><span>view</span>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a class="dropdown-item" href="/admin/product/edit/<%= element.id %>"><i class="bi bi-pencil-square me-2"></i><span>Edit</span></a>
                                                        </li>
                                                        <li>
                                                            <a  class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= element._id %>">
                                                                <i class="bi bi-trash me-1 ms-3"></i> <span>Delete</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                         <div class="modal fade" id="staticBackdrop<%= element._id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">product detail</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body d-flex flex-column">
                                                    <h3>brand : <%= element.name || "-" %></h3>
                                                    <span><b>Description</b> : <%= element.description || "-" %></span>
                                                    <span><b>status</b> : <%= element.status || "-" %></span>
                                                </div>
                                                <div class="modal-footer">
                                                    <form action="/delete/<%= element._id %>" method="POST">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-danger">conform Delete</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } ) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<% include layout/message.ejs %>